* {
  margin: 0;
  padding: 0;
}

button:focus,
button:active,
button:hover
{
  box-shadow: none !important;
  outline: none !important;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

#canvas_container {
  position: fixed;
  top: 100vh;
  left: 0%;
  transition: top 0.4s;
  z-index: 5;
}

#canvas_container.snapped {
  top: 0vh;
  transition: top 0.4s;
}

#button {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem 0rem;
  transition: translate 0.3s;
}

#snap {
  background-color: rgba(200,200,200,0.5);
  border: none;
  border: 5px solid white;
  border-radius: 50%;
  color: white;
  padding: 1rem;
}

#snap i, #submit i, #delete i {
  font-size: 42px;
}

#button.snapped {
  transform: translateY(100%);
  transition: transform 0.4s;
}

#canvasButtons {
  display: flex;
  justify-content: space-around;
  margin: 0rem auto;
  transform: translateY(-150%);
}

#submit, #delete {
  background-color: rgba(200,200,200,0.6);
  border: 5px solid rgba(200,200,200,0.6);
  border-radius: 50%;
  border: none;
  color: rgba(255,255,255,1);
  margin: 0.3rem 0.5rem;
  padding: 0.75rem;
  z-index: 10;
}

#submit.submitting {
  animation: 1s ease 0s infinite pulse;
}

@keyframes pulse {
  0%{
    background-color: rgba(200,200,200,0.6);
    color: rgba(255,255,255,1);
  }
  50%{
    background-color: rgba(200,200,200,1);
    color: rgba(0,0,0,1);
  }
  100%{
    background-color: rgba(200,200,200,0.6);
    color: rgba(255,255,255,1);
  }
}

.photoTags {
  position: absolute;
  top: 7rem;
  right: 1rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.imageTags {
  border-radius: 3px;
  color: white;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
  text-align: center;
}

@media screen and (min-width: 800px) {

  .App {
    display: flex;
    justify-content: space-around;
  }

  #canvas, #video {
    flex-basis: 40%;
  }

  #snap {
    background-color: green;
    border-color: green;
    border-radius: 5px;
    color: white;
    padding: 0rem 1.5rem;
  }

  #snap i {
    font-size: 36px;
  }

}
